<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jpmc.ccb.gogo.cafeteria">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".Applications.CafeteriaApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".startscreens.SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MenuMainActivity"
            android:label="@string/app_name"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".startscreens.IntroActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".startscreens.SignUpActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".startscreens.LoginActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".startscreens.ResetPasswordActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".FinalOrderActivity"
            android:label="@string/app_name"
            android:parentActivityName=".MenuMainActivity" />
        <activity
            android:name=".OrderSuccessActivity"
            android:label="@string/app_name"
            android:parentActivityName=".MainActivity"></activity>
    </application>

</manifest>